$primary-fontsize: 10px;
$secondary-fontsize: 30px;

main{
  .totalAmounts {
    display: flex;
    justify-content: center;
    margin: 4rem;
    .fa-coins {
      padding-top: 3rem;
      font-size: 30px;
      cursor: pointer;
    }
    .moneySaved {
      padding: 0.5rem 2rem 0 1rem;
      border-right: solid black 1px;
      .words {
        font-size: $primary-fontsize;
      }
      .price {
        font-size: $secondary-fontsize;
      }
    }
    .revenueMade {
      padding: 0.5rem 2rem 0 2rem;
      .words {
        font-size: $primary-fontsize;
      }
      .price {
        font-size: $secondary-fontsize;
      }
    }
  }
  .dataSection {
    display: flex;
    justify-content: center;
    .rateList {
      list-style: none;
      padding: 2rem 2rem;
      font-size: 24px;
      li {
        padding: 0.5rem;
      }
    }
    .chart {
      padding: 0 2rem;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);  
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
  .depositModal {
    max-width: 500px;
    width: 86%;
    padding: 1rem;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
      i {
        font-size: 20px;
        cursor: pointer;
        float: right;
      }
      .modalContent {
        padding: 2rem;
        h2 {
          padding-bottom: 1rem;
        }
        input {
          width: 70%;
          margin-right: 0.5rem;
        }
      }
  }
  .depositModal.active {
    opacity: 1;
    visibility: visible;
  }
}