nav .logo {
  height: 2rem; }

nav .icon {
  font-size: 1.3rem;
  margin-right: 1rem; }

nav .navmenu {
  margin-bottom: 0;
  margin-right: 1rem;
  text-decoration: none;
  color: black; }

nav .icon:hover,
nav .navmenu:hover {
  color: #a7a7a7; }

nav .icon:active,
nav .navmenu:active {
  color: black;
  position: relative;
  top: 2px; }

main .totalAmounts {
  display: flex;
  justify-content: center;
  margin: 4rem; }
  main .totalAmounts .depositIcon {
    font-size: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer; }
  main .totalAmounts .tooltiptext {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
 Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
 sans-serif;
    font-weight: 500; }
  main .totalAmounts .depositIcon .tooltiptext {
    position: absolute;
    z-index: 1;
    right: 150%;
    visibility: hidden;
    /*width: auto;*/
    white-space: nowrap;
    padding: 0.3em 0.5em;
    transition: opacity 1s;
    text-align: center;
    opacity: 0;
    color: #ffffff;
    border-radius: 6px;
    background-color: black; }
  main .totalAmounts .depositIcon .tooltiptext::after {
    position: absolute;
    top: 40%;
    left: 103%;
    margin-left: -5px;
    content: " ";
    border: 5px solid transparent;
    border-left-color: black; }
  main .totalAmounts .depositIcon:hover .tooltiptext {
    visibility: visible;
    opacity: 1; }
  main .totalAmounts .depositIcon:hover {
    color: #a7a7a7; }
  main .totalAmounts .depositIcon:active {
    position: relative;
    top: 2px; }
  main .totalAmounts .moneySavedPrice,
  main .totalAmounts .revenueMadePrice {
    margin-bottom: 0;
    font-size: 1.8rem; }
  main .totalAmounts .words {
    font-size: 16px;
    font-weight: bold; }
  main .totalAmounts .moneySaved {
    padding: 0.5rem 2rem 0 1rem;
    border-right: solid black 1px; }
  main .totalAmounts .revenueMade {
    padding: 0.5rem 2rem 0 2rem; }

main .dataSection {
  display: flex;
  justify-content: center; }
  main .dataSection .latestRate {
    padding-left: 2rem;
    font-size: 16px;
    font-weight: bold; }
  main .dataSection .rateList {
    list-style: none;
    padding: 0rem 2rem;
    font-size: 18px; }
    main .dataSection .rateList .currencyList {
      padding-top: 2rem;
      padding-bottom: 0.5rem;
      cursor: pointer;
      text-decoration: none;
      position: relative; }
    main .dataSection .rateList .currencyList::after {
      position: absolute;
      bottom: 2px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background: #a0d0f5;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s; }
    main .dataSection .rateList .currencyList:hover::after {
      bottom: -1px;
      opacity: 1;
      visibility: visible; }
    main .dataSection .rateList .currencyList:active {
      position: relative;
      top: 2px; }
  main .dataSection .chart {
    padding: 0 2rem; }
    main .dataSection .chart .chart-header {
      display: flex;
      justify-content: space-between; }
    main .dataSection .chart .btn {
      margin: 5px; }
    main .dataSection .chart .btn:active {
      position: relative;
      top: 2px; }

main .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s; }

main .overlay.active {
  opacity: 1;
  visibility: visible; }

main .depositModal {
  max-width: 500px;
  width: 86%;
  padding: 1rem;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s; }
  main .depositModal i {
    font-size: 20px;
    cursor: pointer;
    float: right; }
  main .depositModal .modalContent {
    padding: 2rem; }
    main .depositModal .modalContent h2 {
      padding-bottom: 1rem; }
    main .depositModal .modalContent input {
      width: 70%;
      margin-right: 0.5rem; }
    main .depositModal .modalContent .btn:hover {
      background-color: #a7a7a7;
      border: none; }
    main .depositModal .modalContent .btn:active {
      position: relative;
      top: 2px; }

main .depositModal.active {
  opacity: 1;
  visibility: visible; }
