.logo {
  height: 2rem;
}

main {
  .top {
    background-image: url("../img/topBackground.jpg");
    background-size: cover;
    color: white;
    height: 60rem;
      h1 {
        padding: 30rem 10rem 0 10rem;
      }
      p {
        padding: 0 10rem 0 10rem;
      }
    }
    .introduction {
      padding-top: 8rem;
      h2 {
        text-align: center;
        padding: 2rem;
      }
      .card-group{
        display: flex;
      }
      .happy {
        padding: 5rem;
        text-align: center;
        font-size: 20px;
      }
    }
  }
