.logo {
  height: 2rem;
}

main {
  .top {
    height: 30rem;
      h1 {
        padding: 10rem 10rem 0 10rem;
      }
      p {
        padding: 0 10rem 0 10rem;
      }
    .introduction {
      
    }
  }
}