$primary-color: #56CFE1;
$secondary-color: #E15656;
$background-color: #EDECEC;
$tablet-window-size: 1007px;
$smartphone-window-size: 640px;
$laptop-font-size: 20px;
$tablet-font-size: 18px;
$smartphone-font-size: 16px;